<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-android-sms-reader"
        version="0.1.0-dev"
>

    <name>AndroidSMSReader</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <hook type="after_plugin_add" src="scripts/build_app.js" />
    <asset src="www" target="js"/>
    <js-module src="www/reader.js" name="smsreader">
        <clobbers target="smsreader" />
    </js-module>



    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidSMSReader">
                <param name="android-package" value="me.jeremyf.cordova.sms.SMSReader"/>
            </feature>
        </config-file>

        <source-file src="src/android/me/jeremyf/cordova/sms/SMSReader.java"
                     target-dir="src/me/jeremyf/cordova/sms"/>
        <!-- Actions -->
        <source-file src="src/android/me/jeremyf/cordova/sms/action/Action.java"
                     target-dir="src/me/jeremyf/cordova/sms/action"/>
        <source-file src="src/android/me/jeremyf/cordova/sms/action/PermissionAction.java"
            target-dir="src/me/jeremyf/cordova/sms/action"/>
        <source-file src="src/android/me/jeremyf/cordova/sms/action/ReadAction.java"
                     target-dir="src/me/jeremyf/cordova/sms/action"/>
        <!-- Model -->
        <source-file src="src/android/me/jeremyf/cordova/sms/model/SMS.java"
                     target-dir="src/me/jeremyf/cordova/sms/model"/>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_SMS" />
        </config-file>

    </platform>

</plugin>
